@media (min-width: 768px) {
    #menu-button {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}